{%	extends	"shop/base.html"	%}
{%	load	static	%}
{%	block	title	%}
		{{	product.name	}}
{%	endblock	%}
{%	block	content	%}
		<div	class="product-detail d-flex font-weight-bold row">
				<div class="m-2  col-sm" >
				<img	src="{{	product.image.url	}}" style="min-width:14rem;max-width:24rem;max-height:24rem" >
			    </div>
			    <div class="m-2  col-sm " >
				<h1>{{	product.name	}}</h1>
				<h2><a	href="{{	product.category.get_absolute_url	}}">{{product.category}}</a></h2>
				<p	class="price">Rs {{	product.price	}}</p>
				<form	action="{%	url	'cart:cart_add' product.id	%}"	method="post">
		{{	cart_product_form	}}
		{%	csrf_token	%}
		<input	type="submit" class="btn btn-success"	value="Add	to	cart">
                </form>
                <br>
				{{	product.description|linebreaks	}}
		</div>
	</div>
{%	endblock	%}